/*-------------------------
    Breadcrumb
--------------------------*/
.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: FontAwesome;
    content: "\f105";
}